__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
artifacts/
converted_docs/
*.png
*.jpg
*.jpeg
.vscode/
.idea/
eai-dataset/
ManiSkill-main/
eai-2025-fall-final-project-reference-scripts/
lerobot-sim2real/
